body {
  font-family: "Arial", sans-serif;
  margin: 20px;
  background-color: #f5f5f5;
}

h2 {
  color: #05445e;
  text-align: center;
}

/* style for input labels */
label {
  display: block;
  color: #189ab4;
  margin-bottom: 5px;
}

/* style for input boxes */
input {
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: #05445e 1px solid;
}

/* width for description input box */
.description {
  width: 100%;
}
/* width for title and URL input box */
.title,
.url {
  width: 50%;
}

/* generic button styles */
button {
  padding: 10px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* add project button style */
.add-button {
  background-color: #05445e;
  color: #d4f1f4;
}

.add-button:hover {
  background-color: #75e6da;
  color: #05445e;
}

/* edit and delete button styles */
.delete-button,
.edit-button {
  background-color: #75e6da;
  color: #05445e;
  border-radius: 5px;
}

.delete-button:hover,
.edit-button:hover {
  color: #75e6da;
  background-color: #05445e;
}

/* style for edit and cancel buttons when in edit mode */
.save-button,
.cancel-button {
  background-color: #05445e;
  color: #d4f1f4;
}

.save-button:hover,
.cancel-button:hover {
  color: #05445e;
  background-color: #d4f1f4;
}

/* style for disabled buttons */
button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

/* styling for table for projects */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  background-color: #d4f1f4;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #05445e;
  color: #d4f1f4;
}

/* style for the banner which shows only when editing a project */
.edit-banner {
  background-color: #75e6da;
  border-radius: 5px;
  color: #05445e;
  padding: 10px;
  margin-bottom: 15px;
}
